/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: Montserrat, sans-serif;
  color: #172c42;
}

a {
  color: #ee334e;
}

a:hover {
  color: #172c42;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #ee334e;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #ff774a;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #ee334e;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}

#topbar .contact-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#topbar .contact-info li {
  display: inline-block;
  padding: 8px 0;
}

#topbar .contact-info li+li {
  margin-left: 18px;
}

#topbar .contact-info a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #ffffff;
  padding-right: 4px;
}

#topbar .cta a {
  color: #fff;
  background: #ee334e;
  padding: 8px 20px;
  display: inline-block;
  transition: 0.3s;
}

#topbar .cta a:hover {
  background: #172c42;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: #f2f5fa;
  border-bottom: 1px solid #ee334e;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 8px 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #101f2e;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  z-index: 3;
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #101f2e;
  padding: 11px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.nav-menu a.active{
  color: #ee334e;
}
.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #ee334e;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 8px;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: lightne(#172c42, 10);
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #ee334e;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ee334e;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #172c42;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #ee334e;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(43, 37, 35, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}















/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.about-section
{
    background: url("../img/banners/bg_stad.jpg")  ;
    background-size: 100%;
     
    overflow: hidden;
    padding: 100px  ;
}


#hero {
  /* width: 100%;
  height: 60vh;
  background: url("../img/banners/003.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0; */
  margin-bottom: -200px;
  padding: 0;
}
.carousel-caption {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  position: absolute;
}
/* #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .get-started-icon {
  font-size: 24px;
  background: #ee334e;
  padding: 14px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.1);
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  margin-left: -10px;
  padding: 8px 26px 8px 26px;
  color: #fff;
  background: #172c42;
  border-radius: 0 50px 50px 0;
  position: relative;
  z-index: 4;
}

#hero .btn-get-started:hover {
  background: #ee334e;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1024px) {
  #hero {
    margin-bottom: -150px;
  }
}

@media (max-height: 768px) {
  #hero {
    margin-bottom: -150px;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .social-wallpaper {
    display: none;
  }

  .social-timeline-left {
    position: unset ! important;
    top: 0 ! important;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #2a2c39;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #ee334e;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #ee334e;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

g {}

b {
  text-decoration: none;
  color: #ee334e;
}

.g h2 {
  text-decoration: none;
  color: #ee334e;
}

.g .gg {
  padding-right: 120px;
  text-indent: 50px;
  text-align: justify;
}

.g .ggg {
  padding-right: 340px;
  text-indent: 50px;
  text-align: justify;
}


section {
  padding: 60px 0;
}

.section-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(155deg, rgba(2, 0, 36, 1) 0%, rgba(238, 51, 58, 1) 0%, rgba(175, 0, 255, 1) 100%);
}

.section-bg1 {

  background-color: #f5f5f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}

.section-title h2 a {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#venue {
  padding: 60px 0;
  overflow: hidden;
}

#venue .container-fluid {
  margin-bottom: 3px;
}

#venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#venue .venue-info {
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#venue .venue-gallery .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

#venue .venue-gallery .icon-box h4 a {
  color: #434175;
  transition: ease-in-out 0.3s;
}

#venue .venue-gallery .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#venue .venue-gallery .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

#venue .venue-gallery .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

#venue .venue-gallery .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

#venue .venue-gallery .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

#venue .venue-gallery .iconbox-blue i {
  color: #47aeff;
}

#venue .venue-info:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#venue .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 574px) {
  #venue .venue-info h3 {
    font-size: 24px;
  }
}

#venue .venue-info p {
  color: #fff;
  margin-bottom: 0;
}

#venue .venue-gallery-container {
  padding-right: 12px;
}

#venue .venue-gallery {
  overflow: hidden;
}

#venue .venue-gallery img {
  width: 100%;
}

#venue .venue-gallery.border-left {
  border-left: 3px solid #3d4354;
  border-top: 3px solid #3d4354;
  border-bottom: 3px solid #3d4354;
}

#venue .venue-gallery.border-right {
  border-right: 3px solid #3d4354;
  border-top: 3px solid #3d4354;
  border-bottom: 3px solid #3d4354;
}

#venue .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 3;
}

.why-us .content {
  padding: 30px;
  background: #ee334e;
  border-radius: 4px;
  color: #fff;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #ee334e;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #ee334e;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #716f6f;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .icon-boxes h4 {
  font-size: 18px;
  color: #26425e;
  margin-bottom: 15px;
}

.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  /* color: #fff; */
  margin-bottom: 20px;
  margin-top: 26px;
}

.about .icon-boxes p {
  font-size: 16px;
  font-weight: 530;
  /* color: #fff; */
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border: 2px solid #172c42;
  border-radius: 50px;
  transition: 0.5s;
  background: #fff;
}

.about .icon-box .icon i {
  color: #ee334e;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #ee334e;
  border-color: #ee334e;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #ee334e;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}


.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ee334e 50%, rgba(255, 88, 33, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  /* top: -30px; */
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 88, 33, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #ee334e;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 75%;
  opacity: 0.5;
  transition: ease-in-out 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients .owl-item img:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.clients .owl-nav,
.clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #ee334e !important;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #434175;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.values .card-body {
  z-index: 10;
  background: #ffffff;
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.values .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.values .card-title a {
  color: #172c42;
}

.values .card-text {
  color: #4b4949;
}

.values .read-more a {
  color: #101f2e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.values .read-more a:hover {
  text-decoration: underline;
}

.values .card:hover .card-body {
  background: #ee334e;
}

.values .card:hover .read-more a,
.values .card:hover .card-title,
.values .card:hover .card-title a,
.values .card:hover .card-text {
  color: #fff;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;
}
.testimonial_img{
  margin-left: -100px;
    float: left;
    margin-right: 15px;
}
#testimonials .testimonial-item {
  background-color: #fff;
  box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 30px 30px 30px 50px;
  margin: 5px 26px 5px 50px;
  position: relative;
  z-index: 1;

}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

#testimonials .testimonial-item .testimonial-img {
  border-radius: 100%;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  /* margin: 10px 0 5px 0; */
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-size: 15px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.testi_meta {
  overflow: hidden;
}
.testimonial_img {
  position: relative;
  /* left: -71px;
  margin-right: -41px; */
}
.testimonial_img img {
  max-width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}
#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #50d8af;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.Portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.Portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #172c42;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.Portfolio #portfolio-flters li:hover,
.Portfolio #portfolio-flters li.filter-active {
  color: #ee334e;
  background: #fff1ed;
}

.Portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.Portfolio .portfolio-item {
  margin-bottom: 30px;
}

.Portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.Portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #172c42;
}

.Portfolio .portfolio-item .portfolio-info p {
  color: #476a8e;
  font-size: 14px;
  margin-bottom: 0;
}

.Portfolio .portfolio-item .portfolio-info .preview-link,
.Portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #101f2e;
}

.Portfolio .portfolio-item .portfolio-info .preview-link:hover,
.Portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ee334e;
}

.Portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.Portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.Portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.Portfolio .portfolio-item .portfolio-links a:hover {
  color: #172c42;
}

.Portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  /* border-radius: 5px; */
  background: #fff;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

/* .team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
} */

.team .member .social a {
  transition: color 0.3s;
  color: #172c42;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #ee334e;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  /* padding: 25px 15px; */
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #172c42;
}
.member-img  .social p , .member-img  .social h4{
  margin: 5px 0;
}
.member-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  max-width: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #989595;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #101f2e;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #101f2e;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #ee334e;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #172c42;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #ee334e;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #ee334e;
  display: inline-block;
  padding: 6px 35px 8px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #172c42;
}

.pricing .featured h3 {
  color: #fff;
  background: #ee334e;
  box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ee334e;
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #ffb8a1;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ee334e;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #172c42;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
}

.contact .info-box i {
  font-size: 32px;
  color: #ee334e;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #172c42;
  float: left;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #101f2e;
  font-weight: 700;
  margin: 10px 0 10px 68px;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

input,
textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

input::focus,
textarea::focus {
  background-color: #ee334e;
}

input {
  padding: 20px 15px;
}

textarea {
  padding: 12px 15px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #172c42;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f2f5fa;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #101f2e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #172c42;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #172c42;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #101f2e;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ee334e;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #172c42;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #172c42;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #101f2e;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #172c42;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ee334e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #172c42;
  color: #fff;
  text-decoration: none;
}

/* Custom CSS By PV */

.bg-white {
  background-color: #ffffff;
}

.card-box {
  text-align: center;
  padding: 15px;
  width: 100%;
}

.card-box i {
  font-size: 40px;
  color: #152638;
  margin-bottom: 30px;
}

.card-box h4 {
  font-size: 20px;
  font-weight: 700;
  /*margin: 0 0 30px 0;*/
}

.box-shadow {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.pb--0 {
  padding-bottom: 0 ! important;
}

.pt--0 {
  padding-top: 0 ! important;
}

.pl--0 {
  padding-left: 0 ! important;
}

.pr--0 {
  padding-right: 0 ! important;
}

.w--100 {
  width: 100%;
}

.hover-bg-secondary-color:hover .inner {
  background-color: #ee334e ! important;
}

.pt--15px {
  padding-top: 15px;
}

.pb--15px {
  padding-bottom: 15px;
}

.pl--15px {
  padding-left: 15px;
}

.pr--15px {
  padding-right: 15px;
}

.p--15 {
  padding: 50px;
}
.p--16 {
  padding: 30px;
}
.p--17 {
  padding: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.mr--0 {
  margin-right: 0 ! important;
}

.ml--0 {
  margin-left: 0 ! important;
}

.font-13 {
  font-size: 13px;
}

/* Fund Raising Card */

.card .card-name {
  padding: 10px 15px 0 15px;
  /* margin-top: 30px; */
  font-family: Exo, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  /* min-height: 50px; */
}

.card .card-name a {
  text-decoration: none;
  color: #333;
}

.card .card-location {
  color: #999;
  font-size: 13px;
  line-height: 1.5;
  padding: 5px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* height: 24px; */
  display: flex;
    justify-content: space-between;
}

.card .card-location i {
  color: #333;
}

.card .card-sport {
  color: #999;
  font-size: 13px;
  line-height: 1.5;
  padding: 5px 15px 0 15px;
}

.card .card-sport a {
  color: #999;
}

.card .card-description {
  height: 65px;
  font-size: 14px;
  padding: 0 15px;
  line-height: 1.5;
  margin-top: 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.card .card-progress {
  padding: 15px;
}

.card .card-progress .progress {
  background: #ddd;
  height: 1px;
  border-radius: 3px;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.card .card-progress .progress .progress-bar {
  background: #263DEB;
}

.card .card-progress .progress .progress-bar {
  background: #263DEB;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%);
  background-image: -o-linear-gradient(top, #428bca 0, #3071a9 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3071a9));
  background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
  background-repeat: repeat-x;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.card .card-stats {
  padding: 0 25px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  min-height: 55px;
}

.card .card-stats div {
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.card .card-stats small {
  color: #999;
  font-weight: normal;
}

/* Fund Raising Card */

.btn-secondary {
  color: #fff;
  background-color: #ee334e ! important;
  border-color: #ee334e ! important;
}

.mt--10 {
  margin-top: 10px;
}

.pull-right {
  float: right;
}

.post-details-content .blog-thumb img {
  width: 100%;
}

.post-details-content {
  padding: 2em;
}

.post-details-content {
  position: relative;
  z-index: 1
}

.post-details-content .post-meta {
  position: relative;
  z-index: 1;
  margin-bottom: 15px
}

.post-details-content .post-meta a {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ed3974
}

.post-details-content .post-meta a:last-child {
  margin-left: 20px
}

.post-details-content .post-meta a:last-child::after {
  content: '/';
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 1
}

.post-details-content .post-meta a:hover,
.post-details-content .post-meta a:focus {
  color: #404040
}

.post-details-content .post-title {
  font-size: 24px;
  margin-bottom: 15px;
  display: block
}

@media only screen and (max-width:767px) {
  .post-details-content .post-title {
    font-size: 20px
  }
}

.post-details-content .post-meta-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 15px
}

.post-details-content .post-meta-2 a {
  font-size: 14px;
  color: #777;
  margin-right: 20px
}

.post-details-content .post-meta-2 a:last-child {
  margin-right: 0
}

.post-details-content .post-meta-2 a:hover,
.post-details-content .post-meta-2 a:focus {
  color: #ed3974
}

.post-details-content ul {
  position: relative;
  z-index: 1
}

.post-details-content ul li {
  color: #777;
  margin-bottom: 10px
}

.post-details-content ul li i {
  margin-right: 5px
}

blockquote {
  background-color: #f2f4f5;
  padding: 15px 30px;
  border-left: 3px solid #ed3974
}

blockquote .quote-text {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 2;
  margin-bottom: 15px
}

blockquote .quote-name {
  margin-bottom: 0
}

.like-dislike-share {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.like-dislike-share a {
  min-width: 180px;
  height: 46px;
  border-radius: 4px;
  background-color: #ed3974;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  line-height: 46px;
  font-weight: 400;
  margin-right: 15px
}

.like-dislike-share a:last-child {
  margin-right: 0
}

.like-dislike-share a i {
  margin-right: 5px
}

.like-dislike-share a.facebook {
  background-color: #4b6cd0
}

.like-dislike-share a.facebook:hover {
  background-color: rgba(75, 108, 208, .85)
}

.like-dislike-share a.twitter {
  background-color: #49a7f3
}

.like-dislike-share a.twitter:hover {
  background-color: rgba(73, 167, 243, .85)
}

@media only screen and (max-width:767px) {
  .like-dislike-share a {
    min-width: 50px
  }
}

.like-dislike-share .share {
  min-width: auto;
  background-color: transparent;
  color: #1a1a1a;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  margin-right: 15px
}

.like-dislike-share .share span {
  display: block;
  font-size: 14px;
  color: #777
}

.post-author {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  border-top: 1px solid #ebebeb
}

.post-author .post-author-thumb {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  max-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%
}

@media only screen and (max-width:767px) {
  .post-author .post-author-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    width: 60px;
    height: 60px
  }
}

.post-author .post-author-thumb img {
  border-radius: 50%
}

.post-author .post-author-desc .author-name {
  font-size: 16px;
  display: block;
  margin-bottom: 10px
}

@media only screen and (max-width:767px) {
  .post-author .post-author-desc .author-name {
    font-size: 14px
  }
}

.post-author .post-author-desc p {
  margin-bottom: 0
}

@media only screen and (max-width:767px) {
  .post-author .post-author-desc p {
    font-size: 12px
  }
}

.related-post-area {
  position: relative;
  z-index: 1
}

.related-post-area .single-blog-post.style-4 .post-content .post-title {
  font-size: 16px
}

.mr--10 {
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts_bg{
  background: url(../img/banners/teamsec-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  padding: 30px;
  width: 100%;
}
.video-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video_box {
  position: relative;
}
.video_box img {
  height: 305px;
  object-fit: cover;
}
.add-top{
  padding-top: 30px;
}
.minheight p{
  min-height: 168px;
}
.counts .count-box i {
  display: block;
  font-size: 44px;
  color: #e6eff3;
  float: left;
}

.counts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #edf2f5;
}

.counts .count-box p {
  padding: 15px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ecf3f5;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #49788c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #6e9fb4;
}

.padding0 {
  padding: 0 ! important;
}

.margin0 {
  margin: 0 ! important;
}

.card {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.text-underline {
  text-decoration: underline;
}

span.required {
  color: red;
}




/* Profile Side Nav */

#sidebar a,
#sidebar .header-menu {
  color: #fff;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  height: 100%;
  top: 0;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
  background: #ee334e;
  margin-top: 10px;
  border-radius: 5px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer>a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer>a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content>div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  display:none;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
  border-right: none;
}


.mt--30 {
  margin-top: 30px;
}

.mb--30 {
  margin-bottom: 30px;
}

.file-input-area {
  display: table;
  text-align: center;
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
}

.is-sticky-sidebar {
  top: 75px ! important;
}

.sidebar-wrapper {
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  top: 125px;
  left: 87px;
  border-radius: 5px;
}

.min-height-150px {
  min-height: 150px;
}

.hide {
  display: none;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

:-ms-input-placeholder {
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

.form-control {
  font-size: 13px ! important;
}

.card-overflow-image {
  flex-basis: 200px;
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.bordertb-1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* The Modal (background) */
.custom-light-box .modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.custom-light-box .modal-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.custom-light-box .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.custom-light-box .close:hover,
.custom-light-box .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.custom-light-box .mySlides {
  display: none;
}

.custom-light-box .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.custom-light-box .prev,
.custom-light-box .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.custom-light-box .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.custom-light-box .prev:hover,
.custom-light-box .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.custom-light-box .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.custom-light-box img {
  margin-bottom: -4px;
}

.custom-light-box .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.custom-light-box .demo {
  opacity: 0.6;
}

.custom-light-box .active,
.custom-light-box .demo:hover {
  opacity: 1;
}

.custom-light-box img.hover-shadow {
  transition: 0.3s;
}

.custom-light-box .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-light-box .column {
  float: left;
  width: 25%;
}

.mt-25 {
  margin-top: 25px;
}

a h4 {
  color: #2f4d5a;
}

.news-img-class {
  min-height: 100%;
  width: unset ! important;
  max-width: none ! important;
}

.fund-raiser-img-class a {
  overflow: hidden;
  /* width: 100%; */
  position: relative;
  /* height: 300px; */
}

.fund-raiser-img-class img {
  max-width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}

button[type=submit] {
  border: 0;
  font-size: 16px;
  padding: 10px 20px;
  background: #172c42;
  color: #fff;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.dynamic_events img{
  max-width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}
.m--15{
  margin: 5px;
}
.dynamic_events{
  box-shadow: none !important;
}
.pos_date {
  padding-left: 0;
  position: absolute;
  top: 17px;
  left: 14px;
  margin-bottom: 0;
  text-align: center;
  background-color: #e4045e;
  /* padding: 8px; */
  color: #fff;
}
.month_pos {
  background: #fff;
  padding: 5px;
}
.month_pos span {
  color: #000;
  font-size: 14px;
}
.pos_date span.date {
  font-size: 24px;
}
.dynamic_events .card-body{
  padding: 15px;
}
.dynamic_events .card-body h5{
  margin-top: 0;
  margin-bottom: 10px;
}
.list-group-flush .list-group-item:first-child {
  border-top-width: 0;
  border: 0;
}
ul.blog_ul{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  flex-direction: inherit;
}
ul.blog_ul li{
  float: left;
  padding: 0 15px 0px 0;
  font-size: 15px;
  border: 0;
}
ul.blog_ul li span{
  color: #ee334e;
  font-weight: 500;
}
.card-body{
  position: relative;
}
.card-body h5 {
  text-transform: capitalize;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
}
.np_overlow h5{
  text-transform: capitalize;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    overflow: inherit;
    font-weight: 600;
}
.card-body p.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin:0;
  height: 38px;
}
.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-group-flush li i{
  margin-right: 5px;
}
.list-group-flush li {
  text-transform: capitalize;
}


.testimonial-item  span{
  font-style: italic;
  color: #ee334e;
  font-size: 13px;
  margin-bottom: 6px;
  display: inline-block;
  font-weight: 500;
}

button.close {
  position: relative;
  z-index: 1;
}
.banner_img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}
.about-section h3{
  color: #fff;
}
.team_desc {
  text-align: center;
}
.team_desc h4 {
  font-weight: 600;
}
.service_hight{
  height: 199px;
}
.add_ser{
  height: 199px;
}
.add_he{
      height: 48px;
}
p.team-de{
  display: block;
    font-size: 13px;
    font-weight: 400;
    color: #989595;
}
.addi_ser img{
  width: 80px;
    height: 80px;
    object-fit: contain;
}